/* Universal styling */

body {
  font-family: Helvetica, serif;
  font-size: 22px;
  color: Seashell;
  background-color: black;
  text-align: center;
  margin: 0;
}

.content {
  position: relative;
  top: 69px;
  width: 1200px;
  opacity: 0.9px;
  margin: auto;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

/* Header */

Header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 69px;
  padding: 0 10px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: seashell;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

header nav {
  padding-right: 10px;
}

/* Our Mission */

#Mission {
  background-image: url(../images/img-mission-background.jpg);
  display: flex;
  margin: 0 auto;
  height: 700px;
  width: 1200px;
  align-items: center;
}

#Mission .text-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
}

/* Featured Tea */

#Featured {
  display: block;
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

.image-container img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

#Featured .image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.tea {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.tea span {
  padding: 5px;
  font-weight: bold;
}

/* Locations */

#Locations {
  display: flex;
  flex-direction: column;
  background-image: url(../images/img-locations-background.jpg);
  height: 500px;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

#Locations .container {
  display: flex;
}

.container .text-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 5px 20px;
  background-color: black;
  opacity: 1;
}

.text-container p {
  padding: 10px;
}

/*Footer*/

footer .info {
  margin: 0 auto;
  width: 1200px;
}

footer .copy {
  display: flex;
  justify-content: left;
  padding-left: 20px;
}
